[submodule "third_party/ncnn"]
	path = third_party/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "third_party/rife-ncnn-vulkan"]
	path = third_party/rife-ncnn-vulkan
	url = https://github.com/nihui/rife-ncnn-vulkan.git
